config XILINX_EDK
	bool
	depends on XILINX_VIRTEX || MICROBLAZE
	default y

config XILINX_LLDMA_USE_DCR
	bool
	depends on NEED_XILINX_LLDMA
	default XILINX_VIRTEX_5_FXT


#
# Xilinx devices and common device driver infrastructure
#

config XILINX_DRIVERS
	bool
	depends on PPC32 || MICROBLAZE
	default y
	---help---
	  This option is used to enable all of the Xilinx drivers on
	  supported architectures.  This is often useful if you have a
	  Xilinx FPGA in a system, either using embedded processors
	  internal to the FPGA or external processors.

config NEED_XILINX_DMAV3
	bool

config NEED_XILINX_LLDMA
	bool

config NEED_XILINX_IPIF
	bool
