menuconfig PMODS
	bool "Pmod Support"
	depends on HAS_IOMEM && OF
	help
		Digilent PMOD Support

if PMODS

config PMODS_DEBUG
	bool "Enable Debug Message"

config PMODOLED
	tristate "PmodOLED1"
	depends on SPI_BITBANG
	depends on SPI_GPIO
	help
		The Digilent PmodOLED1, as well as ZED on-board OLED. Uses SPI over GPIO.

config PMODCLS
	tristate "pmodcls"
	depends on SPI_BITBANG
	help
		This is the Digilent PmodCLS driver. Uses SPI over GPIO.

config PMODCLP
	tristate "pmodclp"
	help
		This is the Digilent PmodCLP driver. Implements parallel access.

config PMODDA1
	tristate "pmodda1"
	depends on SPI_BITBANG
	help
		This is the Digilent PmodDA1 driver. Uses SPI over GPIO.

config PMODAD1
	tristate "pmodad1"
	depends on SPI_BITBANG
	help
		This is the Digilent PmodAD1 driver. Uses SPI over GPIO.

endif # PMODS
