/dts-v1/;

/ {
	model = "Peep";
	compatible = "xlnx,arm-ep";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&intc>;

	memory {
		device_type = "memory";
		reg = <0x0 0x10000000>;
   	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw initrd=0x800000,8M earlyprintk";
		linux,stdout-path = "/amba@0/uart@E0000000";
	};

	amba: amba@0 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		intc: intc@f8f01000 {
			interrupt-controller;
			compatible = "arm,gic";
			reg = <0xF8F01000 0x1000>;
			#interrupt-cells = <2>;
		};
	
		uart0: uart@e0000000 {
			compatible = "xlnx,xuartps";
			reg = <0xE0000000 0x1000>;
			interrupts = <59 0>;
			clock = <50000000>;
		};
	
		uart1: uart@e0001000 {
			compatible = "xlnx,xuartps";
			reg = <0xE0001000 0x1000>;
			interrupts = <82 0>;
			clock = <50000000>;
		};
	
		spi0: spi@e0006000 {
			compatible = "xlnx,xspips";
			reg = <0xE0006000 0x1000>;
			interrupts = <58 0>;
			speed-hz = <50000000>;
			bus-num = <0>;
			num-chip-select = <4>;
		};

		spi1: spi@e0007000 {
			compatible = "xlnx,xspips";
			reg = <0xE0007000 0x1000>;
			interrupts = <81 0>;
			speed-hz = <50000000>;
			bus-num = <1>;
			num-chip-select = <4>;
		};
		nor: nor@e2000000 {
			compatible = "cfi-flash";
			bank-width = <1>;
			reg = <0xE2000000 0x2000000>;		/* 32MB */
			#address-cells = <1>;
			#size-cells = <1>;
			partition@0 {
				label = "nor-fsbl";
				reg = <0x00000000 0x80000>;	/* 512K */
			};
			partition@1 {
				label = "nor-u-boot";
				reg = <0x80000 0x80000>;	/* 512K */
			};
			partition@2 {
				label = "nor-linux";
				reg = <0x100000 0x500000>;	/* 5 MB */
			};
			partition@3 {
				label = "nor-device-tree";
				reg = <0x600000 0x20000>;	/* 128K */
			};
			partition@4{
				label = "nor-user";
				reg = <0x620000 0x8E0000>;	/* 8875K */
			};
			partition@5{
				label = "nor-scratch";
				reg = <0xF00000 0x100000>;	/* 1 MB */
			};
			partition@6{
				label = "nor-rootfs";
				reg = <0x1000000 0x1000000>;	/* 16 MB */
			};
                };

		devcfg: devcfg@f8007000 {
			compatible = "xlnx,xdevcfg";
			reg = <0xF8007000 0x1000>;
			interrupts = <40 0>;
		};

	};
};
