config ARCH_ZYNQ
	bool "Xilinx Zynq ARM Cortex A9 Platform" if ARCH_MULTI_V7
	select ARM_AMBA
	select ARM_GIC
	select GENERIC_CLOCKEVENTS
	select HAVE_ARM_SCU if SMP
	select HAVE_ARM_TWD if SMP
	select ICST
	select MIGHT_HAVE_CACHE_L2X0
	select HAVE_SMP
	select CACHE_L2X0
	select ARCH_REQUIRE_GPIOLIB
	select ARCH_HAS_CPUFREQ
	select ARCH_HAS_OPP
	select MIGHT_HAVE_PCI
	select CADENCE_TTC_TIMER
	select ARM_GLOBAL_TIMER
	select GENERIC_ALLOCATOR
	select MFD_SYSCON
	help
	  Support for Xilinx Zynq ARM Cortex A9 Platform

if ARCH_ZYNQ

menu "Xilinx Specific Options"

config XILINX_L1_PREFETCH
	bool "L1 Cache Prefetch"
	default y
	help
	  This option turns on L1 cache prefetching to get the best performance
	  in many cases. This may not always be the best performance depending on
	  the usage. There are some cases where this may cause issues when booting.

config XILINX_L2_PREFETCH
	bool "L2 Cache Prefetch"
	default y
	help
	  This option turns on L2 cache prefetching to get the best performance
	  in many cases. This may not always be the best performance depending on
	  the usage.

config XILINX_AXIPCIE
	bool "Xilinx AXI PCIe host bridge support"
	select PCI
	select ARCH_SUPPORTS_MSI
	help
	  Say 'Y' here if you want kernel to support the Xilinx AXI PCIe
	  Host Bridge. This supports Message Signal Interrupts (MSI), if you
	  want to use this feature select CONFIG_PCI_MSI from 'Bus Support ->'.

endmenu

endif
