config XLNX_TSMUX
	tristate "Xilinx MPEG2 Transport Stream Muxer"
	select DMA_SHARED_BUFFER
	help
	  This driver is developed for mpeg2 transport stream muxer,
	  designed to allow passage of multimedia streams from the source
	  kernel sub-system, prepares mpeg2 transport stream and forward
	  to the sink kernel subsystem.

	  To compile this driver as a module, choose M here.
	  If unsure, choose N.
