#
# Xilinx device configuration
#

config NET_VENDOR_XILINX
	bool "Xilinx devices"
	default y
	depends on PPC || PPC32 || MICROBLAZE || ARCH_ZYNQ || MIPS || ARCH_ZYNQMP
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Xilinx devices. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_XILINX

config XILINX_EMACLITE
	tristate "Xilinx 10/100 Ethernet Lite support"
	depends on PPC32 || MICROBLAZE || ARCH_ZYNQ || MIPS || ARCH_ZYNQMP
	select PHYLIB
	---help---
	  This driver supports the 10/100 Ethernet Lite from Xilinx.

config XILINX_AXI_EMAC
	tristate "Xilinx AXI Ethernet support"
	depends on (MICROBLAZE || ARCH_ZYNQ || ARCH_ZYNQMP)
	select PHYLIB
	---help---
	  This driver supports the Xilinx AXI 1G/2.5G, 10 Gigabit,
	  10G/25G High Speed and USXGMII Ethernet Subsystem.

config XILINX_AXI_EMAC_HWTSTAMP
	bool "Generate hardware packet timestamps"
	depends on XILINX_AXI_EMAC
	select PTP_1588_CLOCK
	default n
	---help---
	  Generate hardware packet timestamps. This is to facilitate IEEE 1588.

config  AXIENET_HAS_MCDMA
	bool "AXI Ethernet is configured with MCDMA"
	depends on XILINX_AXI_EMAC
	default n
	---help---
	  When hardware is generated with AXI Ethernet with MCDMA select this option.

config XILINX_LL_TEMAC
	tristate "Xilinx LL TEMAC (LocalLink Tri-mode Ethernet MAC) driver"
	depends on (PPC || MICROBLAZE)
	depends on !64BIT || BROKEN
	select PHYLIB
	---help---
	  This driver supports the Xilinx 10/100/1000 LocalLink TEMAC
	  core used in Xilinx Spartan and Virtex FPGAs

config XILINX_TSN
	bool "Enable Xilinx's TSN IP"
	default n
	---help---
	  Enable Xilinx's TSN IP.

config XILINX_TSN_PTP
	bool "Generate hardware packet timestamps using Xilinx's TSN IP"
	depends on XILINX_TSN
	select PTP_1588_CLOCK
	default y
	---help---
	  Generate hardware packet timestamps. This is to facilitate IEEE 1588.

config XILINX_TSN_QBV
	bool "Support Qbv protocol in TSN"
	depends on XILINX_TSN_PTP
	select PTP_1588_CLOCK
	default y
	---help---
	  Enables TSN Qbv protocol.

config XILINX_TSN_SWITCH
	bool "Support TSN switch"
	depends on XILINX_TSN
	default y
	---help---
	  Enable Xilinx's TSN Switch support.

config XILINX_TSN_QCI
	bool "Support Qci protocol in TSN"
	depends on XILINX_TSN_SWITCH
	default y
	---help---
	  Enable TSN QCI protocol.

config XILINX_TSN_CB
	bool "Support CB protocol in TSN"
	depends on XILINX_TSN_SWITCH
	default y
	---help---
	  Enable TSN CB protocol support.

config XILINX_TSN_QBR
       bool "Support QBR protocol in TSN"
       depends on XILINX_TSN_SWITCH
       default y
       ---help---
         Enable TSN QBR protocol support.

endif # NET_VENDOR_XILINX
