config VIDEO_IMAGEON
	tristate "Imageon card RX support"
	depends on MEDIA_SUPPORT && VIDEO_V4L2 && I2C && VIDEO_V4L2_SUBDEV_API
	select I2C_ALGOBIT
	select VIDEO_ADV7604
	---help---
	  To compile this driver as a module, choose M here: the
	  module will be called imageon-rx.
	  Imageon driver initializes/configures ADV7611 (v4l2 sub device)
	  Configured as a loadable module.
	  It requests EDID using mdev (user-space helper app).
