#
# XILINX DMA Engines configuration
#

menuconfig XILINX_DMA_ENGINES
	bool "Xilinx DMA Engines"
	help
	  Enable support for the Xilinx DMA controllers. It supports three DMA
	  engines: Axi Central DMA (memory to memory transfer), Axi DMA (memory and
	  device transfer), and Axi VDMA (memory and video device transfer).

if XILINX_DMA_ENGINES

config XILINX_DPDMA
	tristate "Xilinx DPDMA Engine"
	select DMA_ENGINE
	help
	  Enable support for Xilinx DisplayPort DMA.

config XILINX_DPDMA_DEBUG_FS
	bool "Xilinx DPDMA debugfs"
	depends on DEBUG_FS && XILINX_DPDMA
	help
	  Enable the debugfs code for DPDMA driver. The debugfs code
	  enables debugging or testing related features. It exposes some
	  low level controls to the user space to help testing automation,
	  as well as can enable additional diagnostic or statistical
	  information.

endif # XILINX_DMA_ENGINES

config XILINX_FRMBUF
	tristate "Xilinx Framebuffer"
	select DMA_ENGINE
	help
	 Enable support for Xilinx Framebuffer DMA.
