#
# XILINX DMA Engines configuration
#

menuconfig XILINX_DMA_ENGINES
	bool "Xilinx DMA Engines"
	help
	  Enable support for the Xilinx DMA controllers. It supports three DMA
	  engines: Axi Central DMA (memory to memory transfer), Axi DMA (memory and
	  device transfer), and Axi VDMA (memory and video device transfer).

if XILINX_DMA_ENGINES

config XILINX_DMATEST
	tristate "DMA Test client for AXI DMA"
	depends on XILINX_DMA
	help
	  Simple DMA test client. Say N unless you're debugging a
	  DMA Device driver.

config XILINX_VDMATEST
	tristate "DMA Test client for VDMA"
	depends on XILINX_DMA
	help
	  Simple DMA test client. Say N unless you're debugging a
	  DMA Device driver.

config XILINX_CDMATEST
	tristate "DMA Test client for CDMA"
	depends on XILINX_DMA
	help
	  Simple DMA test client. Say N unless you're debugging a
	  DMA Device driver.

config XILINX_DPDMA
	tristate "Xilinx DPDMA Engine"
	select DMA_ENGINE
	help
	  Enable support for Xilinx DisplayPort DMA.

config XILINX_FRMBUF
	tristate "Xilinx Framebuffer"
	select DMA_ENGINE
	help
	 Enable support for Xilinx Framebuffer DMA.
endif # XILINX_DMA_ENGINES
