menuconfig FB_XYLON
	tristate "Xylon logiCVC frame buffer support"
	depends on FB
	default n
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	help
	  Choose this option if you want to use the Xylon logiCVC as frame
	  buffer device. Without the support of PCI & AGP.

config FB_XYLON_PLATFORM
	bool "Xylon logiCVC frame buffer platform driver"
	default n
	depends on FB_XYLON
	help
	  Choose this option if you want to use the Xylon frame buffer driver
	  as platform driver type, regardless on Open Firmware (OF) support in
	  kernel.

config FB_XYLON_NUM_FBS
	int "Number of framebuffers"
	range 0 4
	default 0
	depends on FB_XYLON
	help
	  Select the number of framebuffers created. Xylon logiCVC has minimum 1
	  and maximum 5 physical layers. If set to 0, number of frame buffers will
	  be determined from Device Tree Script or platform parameters. If set to
	  other valid value, this value will limit number of frame buffer devices
	  created.

config FB_XYLON_ZYNQ_PS_PIXCLK
	bool "Zynq PS pixel clock"
	depends on FB_XYLON
	default n
	help
	  Support for pixel clock generation from Zynq PS internal clock generator.

config FB_XYLON_ZC702_PIXCLK
	bool "ZC702 board pixel clock"
	depends on FB_XYLON
	default n
	select I2C
	select SYSFS
	select MISC_DEVICES
	select SI570
	help
	  Support for pixel clock generation from ZC702 external clock generator.
