config VIDEO_XILINX
	tristate "Xilinx Video IP (EXPERIMENTAL)"
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API && OF && HAS_DMA
	select VIDEOBUF2_DMA_CONTIG
	---help---
	  Driver for Xilinx Video IP Pipelines

if VIDEO_XILINX

config VIDEO_XILINX_CFA
	tristate "Xilinx Video Color Filter Array"
	depends on VIDEO_XILINX
	---help---
	   Driver for the Xilinx Color Filter Array

config VIDEO_XILINX_CRESAMPLE
	tristate "Xilinx Video Chroma Resampler"
	depends on VIDEO_XILINX
	---help---
	   Driver for the Xilinx Chroma Resampler

config VIDEO_XILINX_HLS
	tristate "Xilinx Video HLS Core"
	depends on VIDEO_XILINX
	---help---
	   Driver for the Xilinx Video HLS Cores

config VIDEO_XILINX_REMAPPER
	tristate "Xilinx Video Remapper"
	depends on VIDEO_XILINX
	---help---
	   Driver for the Xilinx Video Remapper

config VIDEO_XILINX_RGB2YUV
	tristate "Xilinx Video RGB to YUV Convertor"
	depends on VIDEO_XILINX
	---help---
	   Driver for the Xilinx Video RGB to YUV Convertor

config VIDEO_XILINX_SCALER
	tristate "Xilinx Video Scaler"
	depends on VIDEO_XILINX
	---help---
	   Driver for the Xilinx Video Scaler

config VIDEO_XILINX_SWITCH
	tristate "Xilinx Video Switch"
	depends on VIDEO_XILINX
	---help---
	   Driver for the Xilinx Video Switch

config VIDEO_XILINX_TPG
	tristate "Xilinx Video Test Pattern Generator"
	depends on VIDEO_XILINX
	select VIDEO_XILINX_VTC
	---help---
	   Driver for the Xilinx Video Test Pattern Generator

config VIDEO_XILINX_VTC
	tristate "Xilinx Video Timing Controller"
	depends on VIDEO_XILINX
	---help---
	   Driver for the Xilinx Video Timing Controller

endif #VIDEO_XILINX
