# CONFIG_SMP is not set
# CONFIG_RISCV_ISA_V is not set
# CONFIG_FPU is not set
# CONFIG_NO_HZ_IDLE is not set

CONFIG_XILINX_AXI_EMAC=y
CONFIG_MARVELL_PHY=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_SERIAL_UARTLITE_CONSOLE=y
CONFIG_GPIO_XILINX=y
CONFIG_XILINX_DMA=y
CONFIG_XILINX_INTC=y
CONFIG_I2C_XILINX=y

CONFIG_I2C_CHARDEV=y
CONFIG_I2C_MUX=y
CONFIG_I2C_MUX_PCA954x=y
CONFIG_EEPROM_AT24=y
CONFIG_COMMON_CLK_SI570=y

# CONFIG_RISCV_PMU is not set

# Align these with HW design
CONFIG_RISCV_ISA_ZBA=y
CONFIG_RISCV_ISA_ZBB=y
CONFIG_RISCV_ISA_ZBC=y
CONFIG_RISCV_ISA_ZICBOM=y

# CONFIG_RISCV_ISA_ZBKB is not set
# CONFIG_RISCV_ISA_ZICBOZ is not set
# CONFIG_RISCV_ISA_ZICBOP is not set
# CONFIG_RISCV_ISA_ZACAS is not set
# CONFIG_RISCV_ISA_ZAWRS is not set
# CONFIG_RISCV_ISA_SUPM is not set
# CONFIG_RISCV_ISA_SVNAPOT is not set
# CONFIG_RISCV_ISA_SVPBMT is not set

# CONFIG_CPU_FREQ is not set
# CONFIG_MODULES is not set
# CONFIG_VIDEO is not set
# CONFIG_DRM is not set
# CONFIG_VIDEO_DEV is not set
# CONFIG_MEDIA_CONTROLLER is not set
# CONFIG_DVB_CORE is not set
# CONFIG_DEBUG_VM_PGTABLE is not set
