menu "Rpmsg drivers"

# RPMSG always gets selected by whoever wants it
config RPMSG
	tristate
	select VIRTIO
	select VIRTUALIZATION

config RPMSG_SERVER_SAMPLE
	tristate "An rpmsg server sample"
	depends on RPMSG
	---help---
	  This is just a sample server driver for the rpmsg bus.
	  Say either Y or M. You know you want to.

config RPMSG_OMX
	tristate "rpmsg OMX driver"
	depends on RPMSG
	---help---
	  An rpmsg driver that exposes OMX API to user space, in order to
	  allow multimedia applications to offload OMX processing to
	  remote processors.

	  If unsure, say N.

config RPMSG_FREERTOS_STAT
	tristate "An FreeRTOS statistic"
	depends on RPMSG
	---help---
	  This is just a sample to get statistic from FreeRTOS.
	  Say either Y or M. You know you want to.

source "drivers/rpmsg/host/Kconfig"

endmenu
