#
# Xilinx ZYNQ MPSoC configuration
#
menuconfig SOC_XILINX_ZYNQMP
	bool "Xilinx Zynq MPSoC driver support"
	depends on ARCH_ZYNQMP

if SOC_XILINX_ZYNQMP

config ZYNQMP_PM_API
	bool "Enable Xilinx Zynq MPSoC Power Management API platform driver"
	help
	  Say yes to enable power domain management through API
	  In doubt, say N

config ZYNQMP_PM_API_DEBUGFS
	bool "Enable Xilinx Zynq MPSoC Power Management API debugfs functionality"
	depends on ZYNQMP_PM_API
	depends on DEBUG_FS
	help
	  Say yes to enable power domain management API requests through debugfs
	  In doubt, say N

endif #SOC_XILINX_ZYNQMP
