#
# Xilinx ZYNQ MPSoC configuration
#
menuconfig SOC_XILINX_ZYNQMP
	bool "Xilinx Zynq MPSoC driver support"
	depends on ARCH_ZYNQMP

if SOC_XILINX_ZYNQMP

config ZYNQMP_PM_API_DEBUGFS
	bool "Enable Xilinx Zynq MPSoC Power Management API debugfs functionality"
	depends on DEBUG_FS && PM
	help
	  Say yes to enable power domain management API requests through debugfs
	  In doubt, say N

config ZYNQMP_PM_DOMAINS
	bool "Enable Zynq MPSoC generic PM domains"
	default y
	depends on PM
	select PM_GENERIC_DOMAINS
	help
	  Say yes to enable device power management through PM domains
	  In doubt, say N

endif #SOC_XILINX_ZYNQMP
