/dts-v1/;

/ {
	model = "Xilinx Zynq ZC770 XM012 (DC3)";
	compatible = "xlnx,zynq-zc770";
	#address-cells = <0x1>;
	#size-cells = <0x1>;
	interrupt-parent = <0x1>;

	memory {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw earlyprintk";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};

	pmu {
		compatible = "arm,cortex-a9-pmu";
		interrupts = <0 5 4>, <0 6 4>;
		interrupt-parent = <&gic>;
	};


	amba@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		gic: intc@f8f01000 {
			interrupt-controller;
			compatible = "arm,cortex-a9-gic";
			#interrupt-cells = <3>;
			reg = < 0xf8f01000 0x1000 >,
				  < 0xf8f00100 0x0100 >;
		};

		pl310@f8f02000
		{
			compatible = "arm,pl310-cache";
			cache-unified;
			cache-level = <2>;
			reg = <0xf8f02000 0x1000>;
			arm,data-latency = <3 2 2>;
			arm,tag-latency = <2 2 2>;
		};

		uart@e0001000 {
			compatible = "xlnx,ps7-uart-1.00.a";
			reg = <0xE0001000 0x1000>;
			interrupts = <0 50 4>;
			interrupt-parent = <&gic>;
			clock = <50000000>;
		};

		slcr: slcr@f8000000 {
			compatible = "xlnx,zynq-slcr";
			reg = <0xF8000000 0x1000>;

			clocks {
				#address-cells = <1>;
				#size-cells = <0>;

				ps_clk: ps_clk {
					#clock-cells = <0>;
					compatible = "fixed-clock";
					clock-frequency = <33333333>;
					clock-output-names = "PS_CLK";
				};
			};
		};

		timer@0xf8001000 {
			compatible = "xlnx,ps7-ttc-1.00.a";
			reg = <0xf8001000 0x1000>;
			interrupts = <0 10 4>,<0 11 4>,<0 12 4>;
			interrupt-parent = <&gic>;
		};

		swdt@f8005000 {
			device_type = "watchdog";
			compatible = "xlnx,ps7-wdt-1.00.a";
			reg = <0xf8005000 0x100>;
			interrupts = <0 9 4>;
			interrupt-parent = <&gic>;
			reset = <0>;
			timeout = <10>;
		};

		scuwdt@f8f00620 {
			device_type = "watchdog";
			compatible = "arm,mpcore_wdt";
			reg = <0xf8f00620 0x20>;
			clock-frequency = <400000000>;
			reset = <1>;
		};

		spi1: spi@e0007000 {
			compatible = "xlnx,ps7-spi-1.00.a";
			reg = <0xE0007000 0x1000>;
			interrupts = <0 49 4>;
			interrupt-parent = <&gic>;
			speed-hz = <166666700>;
			bus-num = <0>;
			num-chip-select = <4>;
		};

		i2c0: i2c@e0004000 {
			compatible = "xlnx,ps7-i2c-1.00.a";
			reg = <0xE0004000 0x1000>;
			interrupts = <0 25 4>;
			interrupt-parent = <&gic>;
			bus-id = <0>;
			input-clk = <133000000>;
			i2c-clk = <400000>;

			#address-cells = <1>;
			#size-cells = <0>;
			m24c02_eeprom@52 {
				compatible = "at,24c02";
				reg = <0x52>;
			};
		};

		nor: nor@e2000000 {
			compatible = "cfi-flash";
			bank-width = <1>;
			reg = <0xE2000000 0x2000000>; /* 32MB */
			#address-cells = <1>;
			#size-cells = <1>;
			partition@nor-fsbl-uboot {
				label = "nor-fsbl-uboot";
				reg = <0x0 0x100000>;
			};
			partition@nor-linux {
				label = "nor-linux";
				reg = <0x100000 0x500000>;
			};
			partition@nor-device-tree {
				label = "nor-device-tree";
				reg = <0x600000 0x20000>;
			};
			partition@nor-rootfs {
				label = "nor-rootfs";
				reg = <0x620000 0x5E0000>;
			};
			partition@nor-bitstream {
				label = "nor-bitstream";
				reg = <0xC00000 0x400000>;
			};
		};

		devcfg@f8007000 {
			compatible = "xlnx,ps7-dev-cfg-1.00.a";
			reg = <0xf8007000 0x1000>;
			interrupts = <0 8 4>;
			interrupt-parent = <&gic>;
		};

		gpio@e000a000 {
			compatible = "xlnx,ps7-gpio-1.00.a";
			reg = <0xe000a000 0x1000>;
			interrupts = <0 20 4>;
			interrupt-parent = <&gic>;
		};
		ps7_dma_s: ps7-dma@f8003000 {
			compatible = "xlnx,ps7-dma-1.00.a";
			interrupt-parent = <&gic>;
			interrupts = < 0 13 4 0 14 4 0 15 4 0 16 4  0 17 4 0 40 4 0 41 4 0 42 4 0 43 4 >;
			reg = < 0xf8003000 0x1000 >;
		} ;

	};
};
