/dts-v1/;

/ {
	model = "Xilinx Zynq ZC770 - V&C dt1 - minimum)";
	compatible = "xlnx,zynq-zc770", "xlnx,zynq-7000";
	#address-cells = <0x1>;
	#size-cells = <0x1>;
	interrupt-parent = <0x1>;
	aliases {
		spi0 = &spi;
	};
	memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw earlyprintk";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};

	pmu {
		compatible = "arm,cortex-a9-pmu";
		interrupts = <0 5 4>, <0 6 4>;
		interrupt-parent = <&gic>;
	};

	amba@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		gic: intc@f8f01000 {
			interrupt-controller;
			compatible = "arm,cortex-a9-gic";
			#interrupt-cells = <3>;
			reg = < 0xf8f01000 0x1000 >,
			      < 0xf8f00100 0x0100 >;
		};

		pl310@f8f02000 {
			compatible = "arm,pl310-cache";
			cache-unified;
			cache-level = <2>;
			reg = <0xf8f02000 0x1000>;
			interrupts = <0 2 4>;
			arm,data-latency = <3 2 2>;
			arm,tag-latency = <2 2 2>;
		};

		ps7_ddrc_0: ps7-ddrc@f8006000 {
			compatible = "xlnx,ps7-ddrc-1.00.a", "xlnx,ps7-ddrc";
			reg = < 0xf8006000 0x1000 >;
			xlnx,has-ecc = <0x0>;
		} ;

		ps7_ocm_0: ps7-ocm@0xfffc0000 {
			compatible = "xlnx,ps7-ocm";
			reg = <0xfffc0000 0x40000>; /* 256k */
		};

		uart@e0001000 {
			compatible = "xlnx,ps7-uart-1.00.a", "xlnx,xuartps";
			clocks = <&clkc 24>, <&clkc 41>;
			clock-names = "ref_clk", "aper_clk";
			reg = <0xe0001000 0x1000>;
			interrupts = < 0 50 4 >;
			interrupt-parent = <&gic>;
		};

		slcr: slcr@f8000000 {
			compatible = "xlnx,zynq-slcr";
			reg = <0xF8000000 0x1000>;
			clocks {
				#address-cells = <1>;
				#size-cells = <0>;

				clkc: clkc {
					#clock-cells = <1>;
					compatible = "xlnx,ps7-clkc";
					ps-clk-frequency = <33333333>;
					clock-output-names = "armpll", "ddrpll", "iopll", "cpu_6or4x",
							"cpu_3or2x", "cpu_2x", "cpu_1x", "ddr2x", "ddr3x",
							"dci", "lqspi", "smc", "pcap", "gem0", "gem1",
							"fclk0", "fclk1", "fclk2", "fclk3", "can0", "can1",
							"sdio0", "sdio1", "uart0", "uart1", "spi0", "spi1",
							"dma", "usb0_aper", "usb1_aper", "gem0_aper",
							"gem1_aper", "sdio0_aper", "sdio1_aper",
							"spi0_aper", "spi1_aper", "can0_aper", "can1_aper",
							"i2c0_aper", "i2c1_aper", "uart0_aper", "uart1_aper",
							"gpio_aper", "lqspi_aper", "smc_aper", "swdt",
							"dbg_trc", "dbg_apb";
				};
			} ;
		};

		timer@0xf8001000 {
			compatible = "xlnx,ps7-ttc-1.00.a", "cdns,ttc";
			clocks = <&clkc 6>;
			reg = <0xf8001000 0x1000>;
			interrupts = <0 10 4>,<0 11 4>,<0 12 4>;
			interrupt-parent = <&gic>;
		};

		timer@f8f00600 {
			compatible = "arm,cortex-a9-twd-timer";
			clocks = <&clkc 4>;
			reg = <0xf8f00600 0x20>;
			interrupts = <1 13 0x301>;
			interrupt-parent = <&gic>;
		};

		swdt@f8005000 {
			device_type = "watchdog";
			compatible = "xlnx,ps7-wdt-1.00.a";
			clocks = <&clkc 45>;
			interrupts = <0 9 4>;
			interrupt-parent = <&gic>;
			reg = <0xf8005000 0x100>;
			reset = <0>;
			timeout = <10>;
		};

		scuwdt@f8f00620 {
			device_type = "watchdog";
			compatible = "arm,mpcore_wdt";
			clocks = <&clkc 4>;
			reg = <0xf8f00620 0x20>;
			clock-frequency = <400000000>;
			reset = <1>;
		};

		spi: spi@e0006000 {
			compatible = "xlnx,ps7-spi-1.00.a";
			clocks = <&clkc 25>, <&clkc 34>;
			clock-names = "ref_clk", "aper_clk";
			reg = <0xe0006000 0x1000>;
			interrupts = <0 26 4>;
			interrupt-parent = <&gic>;
			speed-hz = <50000000>;
			num-chip-select = <4>;
		};

		smc@0xe000e000 {
			compatible = "xlnx,ps7-smc";
			clocks = <&clkc 11>, <&clkc 44>;
			clock-names = "ref_clk", "aper_clk";
			reg = <0xe000e000 0x1000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			nand@e1000000 {
				compatible = "xlnx,ps7-nand-1.00.a";
				reg = <0xe1000000 0x1000000>;
				xlnx,nand-width = <8>;
				#address-cells = <1>;
				#size-cells = <1>;

				partition@nand-fsbl-uboot {
					label = "nand-fsbl-uboot";
					reg = <0x0 0x100000>;
				};
				partition@nand-linux {
					label = "nand-linux";
					reg = <0x100000 0x500000>;
				};
				partition@nand-device-tree {
					label = "nand-device-tree";
					reg = <0x600000 0x20000>;
				};
				partition@nand-rootfs {
					label = "nand-rootfs";
					reg = <0x620000 0x5E0000>;
				};
				partition@nand-bitstream {
					label = "nand-bitstream";
					reg = <0xC00000 0x400000>;

				};
			};
		};

		i2c: i2c@e0005000 {
			compatible = "xlnx,ps7-i2c-1.00.a";
			clocks = <&clkc 39>;
			reg = <0xe0005000 0x1000>;
			interrupts = <0 48 4>;
			interrupt-parent = <&gic>;
			bus-id = <1>;
			input-clk = <50000000>;
			i2c-clk = <100000>;

			#address-cells = <1>;
			#size-cells = <0>;
			m24c02_eeprom@52 {
				compatible = "at,24c02";
				reg = <0x52>;
			};
		};

		usb@e0003000 {
			compatible = "xlnx,ps7-usb-1.00.a";
			clocks = <&clkc 29>;
			reg = <0xe0003000 0x1000>;
			interrupts = <0 44 4>;
			interrupt-parent = <&gic>;
			dr_mode = "host";
			phy_type = "ulpi";
		};

		devcfg@f8007000 {
			compatible = "xlnx,ps7-dev-cfg-1.00.a";
			clocks = <&clkc 12>, <&clkc 15>, <&clkc 16>, <&clkc 17>, <&clkc 18>;
			clock-names = "ref_clk", "fclk0", "fclk1", "fclk2", "fclk3";
			reg = <0xf8007000 0x1000>;
			interrupts = <0 8 4>;
			interrupt-parent = <&gic>;
		};

		gpio@e000a000 {
			compatible = "xlnx,ps7-gpio-1.00.a";
			clocks = <&clkc 42>;
			reg = <0xe000a000 0x1000>;
			interrupts = <0 20 4>;
			interrupt-parent = <&gic>;
		};
		ps7_dma_s: ps7-dma@f8003000 {
			#dma-cells = <1>;
			#dma-channels = <8>;
			#dma-requests = <4>;
			arm,primecell-periphid = <0x41330>;
			compatible = "xlnx,ps7-dma-1.00.a", "arm,primecell", "arm,pl330";
			clocks = <&clkc 27>;
			interrupt-parent = <&gic>;
			interrupts = < 0 13 4 0 14 4 0 15 4 0 16 4 0 17 4 0 40 4 0 41 4 0 42 4 0 43 4 >;
			reg = < 0xf8003000 0x1000 >;
		} ;
	};
};
