/*
 *  Copyright (C) 2011 Xilinx
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

/ {
	model = "Xilinx Zynq ZC770 - V&C dt1 - minimum)";
	compatible = "xlnx,zynq-zc770";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&intc>;

	memory {
		device_type = "memory";
		reg = <0x0 0x8000000>;
   	};

	chosen {
		bootargs = "console=ttyPS0,115200 console=tty0 root=/dev/ram rw initrd=0x800000,8M earlyprintk ip=:::::eth0:dhcp";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};

	amba: amba@0 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		intc: intc@f8f01000 {
			interrupt-controller;
			compatible = "arm,gic";
			reg = <0xF8F01000 0x1000>;
			#interrupt-cells = <2>;
		};

		uart1: uart@e0001000 {
			compatible = "xlnx,ps7-uart-1.00.a";
			reg = <0xE0001000 0x1000>;
			interrupts = <82 0>;
			clock = <15870000>;
		};	

		timer0: timer@0xf8001000 {
			compatible = "xlnx,ps7-ttc-1.00.a";
			reg = <0xF8001000 0x1000>;
			interrupts = <42 0>;
/*			clock-frequency = <36110750>; */
			clock-frequency-timer0 = <72220000>;
			clock-frequency-timer1 = <72220000>;
			clock-frequency-timer2 = <72220000>;
		};

		eth0: eth@e000b000 {
			compatible = "xlnx,ps7-ethernet-1.00.a";
			reg = <0xE000B000 0x1000>;
			interrupts = <54 0>;
			phy-handle = <&phy0>;
			xlnx,ptp-enet-clock = <133000000>;
			xlnx,slcr-div0-1000Mbps = <8>;
			xlnx,slcr-div0-100Mbps = <8>;
			xlnx,slcr-div0-10Mbps = <8>;
			xlnx,slcr-div1-1000Mbps = <1>;
			xlnx,slcr-div1-100Mbps = <5>;
			xlnx,slcr-div1-10Mbps = <50>;
			#address-cells = <1>;
			#size-cells = <0>;
			phy0: phy@23 {
				compatible = "marvell,88e1111";
				device_type = "ethernet-phy";
				reg = <7>;
				marvell,reg-init=<2 21 0 0x20>;
			} ;
		};
		sdhci0: sdhci@e0100000 {
			compatible = "generic-sdhci";
			reg = <0xE0100000 0x1000>;
			interrupts = <56 0>;
		};

		usb@e0002000 {
			compatible = "xlnx,ps7-usb-1.00.a";
			reg = <0xe0002000 0x1000>;
			interrupts = <53 0>;
			dr_mode = "host";
			phy_type = "ulpi";
		};
		gpio0: gpio@e000a000 {
			compatible = "xlnx,ps7-gpio-1.00.a";
			reg = <0xE000A000 0x1000>;
			interrupts = <52 0>;
		};

/*
		logicvc_0: logicvc@40030000 {
			compatible = "xylon,logicvc-1.06.c";

			device-id = < 0 >;

			video-memory = < 0x0f000000 0x0fffffff >;
			reg = < 0x40030000 0xffff >;
			row-stride = < 2048 >;
			layers = < 5 >;
			use-background = < 1 >;
			readable-regs = < 1 >;
			use-size-position = < 1 >;
			display-type-no = < 7 >;

			layer_0: layer@0 {
				data-width = < 24 > ;
				alpha-mode = < 0 > ;
				offset = < 0 >;
				buffer-offset = < 1080 >;
			};
			layer_1: layer@1 {
				data-width = < 24 > ;
				alpha-mode = < 0 > ;
				offset = < 6480 >;
				buffer-offset = < 1080 >;
			};
			layer_2: layer@2 {
				data-width = < 24 > ;
				alpha-mode = < 0 > ;
				offset = < 12690 >;
				buffer-offset = < 1080 >;
			};
			layer_3: layer@3 {
				data-width = < 24 > ;
				alpha-mode = < 0 > ;
				offset = < 19440 >;
				buffer-offset = < 1080 >;
			};	
		};
*/

/*

		logibitblt_0: logibitblt@40040000 {
			compatible = "xylon,logibitblt-3.00.a";

			reg = < 0x40040000 0xffff >;
			video-memory = < 0x0f000000 0x00ffffff >;

			use-move-neg = < 1 >;
			use-expand = < 1 >;
			use-patt-fill = < 1 >;
			use-rle = < 1 >;
			use-porter-duff = < 1 >;
			use-aa-font-expand = < 1 >;
			use-global-alpha = < 1 >;
		};		
*/
	};
};
