/dts-v1/;

/ {
	model = "Xilinx Zynq - AFX (NAND Module)";
	compatible = "xlnx,zynq-zc770", "xlnx,zynq-7000";
	#address-cells = <0x1>;
	#size-cells = <0x1>;
	interrupt-parent = <0x1>;

	memory {
		device_type = "memory";
		reg = <0x0 0x08000000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw earlyprintk";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};

	pmu {
		compatible = "arm,cortex-a9-pmu";
		interrupts = <0 5 4>, <0 6 4>;
		interrupt-parent = <&gic>;
	};

	amba@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		gic: intc@f8f01000 {
			interrupt-controller;
			compatible = "arm,cortex-a9-gic";
			#interrupt-cells = <3>;
			reg = < 0xf8f01000 0x1000 >,
			      < 0xf8f00100 0x0100 >;
		};

		pl310@f8f02000 {
                        compatible = "arm,pl310-cache";
                        cache-unified;
                        cache-level = <2>;
                        reg = <0xf8f02000 0x1000>;
                        interrupts = <0 2 4>;
                        arm,data-latency = <3 2 2>;
                        arm,tag-latency = <2 2 2>;
                };

		ps7_ddrc_0: ps7-ddrc@f8006000 {
			compatible = "xlnx,ps7-ddrc-1.00.a", "xlnx,ps7-ddrc";
			reg = < 0xf8006000 0x1000 >;
			xlnx,has-ecc = <0x0>;
		} ;

		ps7_ocm_0: ps7-ocm@0xfffc0000 {
			compatible = "xlnx,ps7-ocm";
			reg = <0xfffc0000 0x40000>; /* 256k */
		};

		uart@e0001000 {
			compatible = "xlnx,ps7-uart-1.00.a", "xlnx,xuartps";
			clocks = <&clkc 24>, <&clkc 41>;
			clock-names = "ref_clk", "aper_clk";
			reg = <0xE0001000 0x1000>;
			interrupts = <0 50 0>;
			interrupt-parent = <&gic>;
		};

		slcr: slcr@f8000000 {
			compatible = "xlnx,zynq-slcr";
			reg = <0xF8000000 0x1000>;
			clocks {
				#address-cells = <1>;
				#size-cells = <0>;

				clkc: clkc {
					#clock-cells = <1>;
					compatible = "xlnx,ps7-clkc";
					ps-clk-frequency = <33333333>;
					clock-output-names = "armpll", "ddrpll", "iopll", "cpu_6or4x",
							"cpu_3or2x", "cpu_2x", "cpu_1x", "ddr2x", "ddr3x",
							"dci", "lqspi", "smc", "pcap", "gem0", "gem1",
							"fclk0", "fclk1", "fclk2", "fclk3", "can0", "can1",
							"sdio0", "sdio1", "uart0", "uart1", "spi0", "spi1",
							"dma", "usb0_aper", "usb1_aper", "gem0_aper",
							"gem1_aper", "sdio0_aper", "sdio1_aper",
							"spi0_aper", "spi1_aper", "can0_aper", "can1_aper",
							"i2c0_aper", "i2c1_aper", "uart0_aper", "uart1_aper",
							"gpio_aper", "lqspi_aper", "smc_aper", "swdt",
							"dbg_trc", "dbg_apb";
				};
			} ;
		};

		timer@0xf8001000 {
			compatible = "xlnx,ps7-ttc-1.00.a", "cdns,ttc";
			clocks = <&clkc 6>;
			reg = <0xf8001000 0x1000>;
			interrupts = <0 10 0>,<0 11 0>,<0 12 0>;
			interrupt-parent = <&gic>;
		};

		smc@0xe000e000 {
			compatible = "xlnx,ps7-smc";
			clocks = <&clkc 11>, <&clkc 44>;
			clock-names = "ref_clk", "aper_clk";
			reg = <0xe000e000 0x1000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			nand@e1000000 {
				compatible = "xlnx,ps7-nand-1.00.a";
				reg = <0xe1000000 0x1000000>;
				xlnx,nand-width = <16>;
				#address-cells = <0x1>;
				#size-cells = <0x1>;

				partition@nand-fsbl-uboot {
					label = "nand-fsbl-uboot";
					reg = <0x0 0x100000>;
				};
				partition@nand-linux {
					label = "nand-linux";
					reg = <0x100000 0x500000>;
				};
				partition@nand-device-tree {
					label = "nand-device-tree";
					reg = <0x600000 0x20000>;
				};
				partition@nand-rootfs {
					label = "nand-rootfs";
					reg = <0x620000 0x5E0000>;
				};
				partition@nand-bitstream {
					label = "nand-bitstream";
					reg = <0xC00000 0x400000>;

				};
			};
		};

	};
};
