/dts-v1/;

/ {
	model = "Xilinx Zynq ZC770 - V&C dt1 - minimum)";
	compatible = "xlnx,zynq-zc770";
	#address-cells = <0x1>;
	#size-cells = <0x1>;
	interrupt-parent = <0x1>;

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw earlyprintk";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};

	soc {
		compatible = "xlnx,zynq";
		clock-frequency = <33333333>;
	};

	amba@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		gic: intc@f8f01000 {
			interrupt-controller;
			compatible = "arm,cortex-a9-gic";
			#interrupt-cells = <3>;
			reg = < 0xf8f01000 0x1000 >,
			      < 0xf8f00100 0x0100 >;
		};

		pl310@f8f02000 {
			compatible = "arm,pl310-cache";
			cache-unified;
			cache-level = <2>;
			reg = <0xf8f02000 0x1000>;
			arm,data-latency = <3 2 2>;
			arm,tag-latency = <2 2 2>;
		};

		uart@e0001000 {
			compatible = "xlnx,ps7-uart-1.00.a";
			reg = <0xe0001000 0x1000>;
			interrupts = < 0 50 4 >;
			interrupt-parent = <&gic>;
			clock = <0x2faf080>;
		};

		timer@0xf8001000 {
			compatible = "xlnx,ps7-ttc-1.00.a";
			reg = <0xf8001000 0x1000>;
			interrupts = <0 10 4>,<0 11 4>,<0 12 4>;
			interrupt-parent = <&gic>;
		};

		timer@f8f00600 {
			compatible = "arm,cortex-a9-twd-timer";
			reg = <0xf8f00600 0x20>;
			interrupts = <1 13 0x301>;
			interrupt-parent = <&gic>;
		};

		swdt@f8005000 {
			device_type = "watchdog";
			compatible = "xlnx,ps7-wdt-1.00.a";
			interrupts = <0 9 4>;
			interrupt-parent = <&gic>;
			reg = <0xf8005000 0x100>;
			reset = <0>;
			timeout = <10>;
		};

		scuwdt@f8f00620 {
			device_type = "watchdog";
			compatible = "arm,mpcore_wdt";
			reg = <0xf8f00620 0x20>;
			clock-frequency = <400000000>;
			reset = <1>;
		};

		spi: spi@e0006000 {
			compatible = "xlnx,ps7-spi-1.00.a";
			reg = <0xe0006000 0x1000>;
			interrupts = <0 26 4>;
			interrupt-parent = <&gic>;
			speed-hz = <50000000>;
			bus-num = <0>;
			num-chip-select = <4>;
		};

		nand@e1000000 {
			compatible = "xlnx,ps7-nand-1.00.a";
			reg = <0xe1000000 0x1000000 0xe000e000 0x1000>;
			xlnx,nand-width = <8>;
			#address-cells = <0x1>;
			#size-cells = <0x1>;
			partition@nand-fsbl-uboot {
				label = "nand-fsbl-uboot";
				reg = <0x0 0x100000>;
			};
			partition@nand-linux {
				label = "nand-linux";
				reg = <0x100000 0x500000>;
			};
			partition@nand-device-tree {
				label = "nand-device-tree";
				reg = <0x600000 0x20000>;
			};
			partition@nand-rootfs {
				label = "nand-rootfs";
				reg = <0x620000 0x5E0000>;
			};
			partition@nand-bitstream {
				label = "nand-bitstream";
				reg = <0xC00000 0x400000>;
			};
		};

		i2c: i2c@e0005000 {
			compatible = "xlnx,ps7-i2c-1.00.a";
			reg = <0xe0005000 0x1000>;
			interrupts = <0 48 4>;
			interrupt-parent = <&gic>;
			bus-id = <1>;
			input-clk = <50000000>;
			i2c-clk = <100000>;

			#address-cells = <1>;
			#size-cells = <0>;
			m24c02_eeprom@52 {
				compatible = "at,24c02";
				reg = <0x52>;
			};
		};

		usb@e0003000 {
			compatible = "xlnx,ps7-usb-1.00.a";
			reg = <0xe0003000 0x1000>;
			interrupts = <0 44 4>;
			interrupt-parent = <&gic>;
			dr_mode = "host";
			phy_type = "ulpi";
		};

		devcfg@f8007000 {
			compatible = "xlnx,ps7-dev-cfg-1.00.a";
			reg = <0xf8007000 0x1000>;
			interrupts = <0 8 4>;
			interrupt-parent = <&gic>;
		};

		gpio@e000a000 {
			compatible = "xlnx,ps7-gpio-1.00.a";
			reg = <0xe000a000 0x1000>;
			interrupts = <0 20 4>;
			interrupt-parent = <&gic>;
		};
	};
};
