config DRM_XILINX_XVMIXER
	tristate "Xilinx DRM Video Mixer"
	depends on DRM && HAVE_CLK
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_GEM_CMA_HELPER
	select DMA_ENGINE
	select XILINX_FRMBUF
	default y
	help
		DRM display driver for the Xilinx Video Mixer IP
